html,body{
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.hero {
  margin-bottom: 50px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  background: url('../images/bg2\ 1.png') no-repeat center center;
  background-size: cover;
  height: 670px;
  margin-bottom: 0;
  padding-bottom: 0 !important;
}

.custom-header {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  letter-spacing: 2px;
  color: #000000;
}

.custom-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #666666;
  opacity: 0.7;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
}

input:focus {
  outline: none;
  border: 1px solid #000000;
  border-radius: 50px;
}

.custom-input {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 10px 15px;
  width: 400px;
}

.submit-btn {
  background: #4200FF;
  border-radius: 50px;
  padding: 15px 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 50px auto;
  border: none;
}

.red-text {
  color: red;
}

.custom-sub-header {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  color: #000000;
}

.l-bg {
  background: url('../images/undraw_code_thinking_1jeh\ 2.png') no-repeat;
}

/* .r-bg {
  background: url('../images/undraw_code_thinking_1jeh\ 1.png') no-repeat;
} */
.content {
  text-align: center;
  margin-bottom: 70px;
}

.normal-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: 0.5px;

  color: #666666;

  opacity: 0.7;
  text-align: left;
  padding: 30px 0;
}

.footer {
  background: #C4C4C4;
  padding: 15px;
}

.display-flex {
  display: flex;
  align-items: center;
}

.social-media-icons{
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.white {
  color: #FFFFFF;
}

.mb-0 {
  margin-bottom: 0;
  opacity: 1;
}

/* DEMO */
.demo {
  height: 400px;
}

.ta-center {
  text-align: center;
}